@keyframes actionsAdded {
    0% { top: 0; }
    100% { top: 52px; }
}

.asset-gallery {
    .gallery {

    }
    
    .gallery__no-item-notice {
        width: 100%;
        text-align: center;
    }

    .gallery__back {
        position: absolute;
        top: 12px;
        left: 10px;
        
        &.ss-ui-button::before {
            font-size: 23px;
        }
    }

    .gallery__sort {
        position: absolute;
        top: 14px;
        right: 40px;

        .chzn-single {
            border: 0;
            filter: none; //IE9
            background: none;
            box-shadow: none;
            color: inherit;
            margin-top: -1px;

            &:focus {
                box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
            }

            > span {
                text-align: right;
                color: inherit;

                &::before {
                    content: 'Sort by '
                }
            }
        }

        .chzn-drop {
            border-radius: 3px;
            box-shadow: 0 0 3px rgba(0,0,0,.2);
            border: 0;
        }

        .chzn-results {
            .active-result {
                text-transform: capitalize;
            }
        }
    }

    .gallery__folders {
        display: inline-block;
        width: 100%;
    }
    
    .gallery__files {
        display: inline-block;
        width: 100%;
    }

    .gallery__load {
        width: 100%;
        display: inline-block;
    }

    .gallery__load__more {
        display: block;
        color: white;
        cursor: pointer;
        margin: 8px auto 24px;
        padding: 4px;
        width: 200px;
        font-size: 16px;
        height: 44px;
        background-color: #338DC1;
        border: 0;
        border-radius: 4px
    }
}
