.asset-gallery {
  // TODO replace with .toolbar--content
  margin: 10px 0;
}

// Needs deeper nesting to override legacy styles
.cms .AssetAdmin .cms-content-view {
  position: relative;
  min-height: 100%;
}

.AssetAdmin {
  .tabset {
    margin: 0;
    box-shadow: 0;
    padding: 0;
    border: 0;
  }

  .cms-content-fields {
    overflow-x: hidden; //hides 'allowed extensions' sidebar
  }

  .cms-edit-form.AssetAdmin {
    width: 100%;
    overflow-y: auto; //adds scrolling only to the datagrid
  }

  // TEMP Overides which should eventually not be needed
  // Reset some annoying CMS styles.
  .asset-gallery {
    > .left {
      display: none;
    }

    > .middleColumn {
      margin-left: 0;
    }
  }

  .icon-button-group {
    // TODO Re-enable once list view is in place
    display: none;
    margin-top: 0;
  }
}

// Hide search for AssetAdmin for Alpha1 only
.cms-content-header-tabs {
  display: none;
}
