// Temp: Needed for legacy markup in template
// Needs deeper nesting to override legacy styles

.cms .AssetAdmin .cms-content-view {
  position: relative;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.AssetAdmin {
  .tabset {
    margin: 0;
    box-shadow: 0;
    padding: 0;
    border: 0;
  }

  .cms-content-fields {
    overflow-x: hidden; //hides 'allowed extensions' sidebar
  }

  .cms-edit-form.AssetAdmin {
    width: 100%;
    overflow-y: auto; //adds scrolling only to the datagrid
  }

  // TEMP Overides which should eventually not be needed
  .asset-gallery {
    margin: 0;

    .form__field-label {
      display: none;
    }

    .form__field-holder {
      width: auto;
    }
  }

  .icon-button-group {
    // TODO Re-enable once list view is in place
    display: none;
    margin-top: 0;
  }

  // Hide search for AssetAdmin for Alpha1 only
  .cms-content-header-tabs {
    display: none;
  }
}
