.preview-image-field__container {
  position: relative;
}

.preview-image-field__toolbar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: auto;
  max-height: 100%;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  overflow: hidden;
}

.preview-image-field__toolbar-button--link:before {
  content: "\3d";
}

.preview-image-field__toolbar-button--replace:before {
  content: "\62";
}

.preview-image-field__toolbar-button--remove:before {
  content: "\44";
}

.preview-image-field__toolbar-button {
  padding: $toolbar-button-padding 0;
  height: $toolbar-button-height + (2 * $toolbar-button-padding);
  width: $toolbar-button-width + (2 * $toolbar-button-padding);
  overflow: hidden;
  color: $white;
  background: $black;
  opacity: 0.55;
  color: $white;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    color: darken($white, 30%);
    text-decoration: none;
  }

  &:before {
    padding: 0 $toolbar-button-padding;
    font-family: "silverstripe";
    font-style: normal;
    speak: none;
    line-height: 1;
    font-size: $toolbar-button-height;
    height: $toolbar-button-height;
    width: $toolbar-button-width;
    vertical-align: middle;
  }
}


.preview-image-field__progress {
  height: 18px;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  background: darken($white, 10%);
}

.preview-image-field__progress-bar {
  height: 100%;
  background: $brand-primary;
  width: 0;
}

.preview-image-field__message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
  padding: $panel-padding-y $panel-padding-x;
}

.preview-image-field__message--error {
  color: $white;
  background: $brand-danger;
}

.preview-image-field__message--success {
  color: $white;
  background: $brand-success;
}
