.editor {
  width: calc(100% - 60px);
  height: calc(100% - #{$toolbar-total-height});
  padding-top: $grid-gutter-width-half;
  padding-bottom: $spacer-y;
  position: fixed;
  right: 0;
  top: $toolbar-total-height;
  overflow-y: auto;
  background-color: $body-bg;

  @include media-breakpoint-up(md) {
    width: $cms-panel-sm;
    border-left: 1px solid $border-color;
  }

  @include media-breakpoint-up(xl) {
    width: $cms-panel-md;
  }
}

.editor__details {
  margin-bottom: 32px;

  .editor__heading {
    margin-right: $spacer-x * 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media .font-icon-link::before {
    font-size: 20px;
    color: #bbb;
  }

  .table .additional-info {
    margin-top: -1px;
    display: block;
    @extend .text-muted;
  }
}

.header-extra {
  margin-top: -16px;
  color: #7f8b97; /* should use $text-muted variable */
}

.file-preview {
  text-align: center;
  margin: $grid-gutter-width-half #{-$grid-gutter-width-half};
  position: relative;
  max-height: $cms-panel-md * .75;
  min-height: 160px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: $gray-lighter;

  .file-enlarge {
    display: none;
    position: absolute;
    margin: 0 auto;
    opacity: .7;
    background-color: rgba(0,0,0,1);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;

    &::before {
      font-size: 24px;
      color: $white;
      top: 12px;
      position: relative;
    }
  }

  &:hover {
    .file-type {
      display: block !important;
    }

    .file-enlarge {
      display: block;

      &:hover,
      &:active {
        text-decoration: none;
        background-color: rgba(0,0,0,.7);
        opacity: 1;
      }
    }
  }
}

.file-preview-thumbnail {
  max-width: 100%;
  margin: 0 auto;
}
