@import "./EditorHeader";

.editor {
  background-color: $body-bg;
  z-index: 2;
  position: absolute;
  height: 100%; // Safari fix for scroll, should be better fix
  left: 0;

  @include media-breakpoint-up(lg) {
    width: $cms-panel-sm;
    border-left: 1px solid $border-color;
    position: relative;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    width: $cms-panel-md;
  }

  // Position tabs above history items
  .nav-tabs {
    z-index: 1;
    position: relative;
  }

  .editor__details {
    transform: translateZ(0); // Safari fix - form fields are not visible intermittently

    // This is an internal form so needs to be told to overflow with scrollbars
    fieldset {
      overflow-y: auto;
    }
  }

  &--asset-dropzone--disable {
    .asset-dropzone {
      pointer-events: none;
    }
  }

  h2 {
    margin-bottom: 0;
    margin-top: $spacer;
  }
}

.editor__heading {
  font-size: $h2-font-size;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.editor-header__field {

  .file-status-icon {
    margin-left: 6px;

    &:last-of-type {
      margin-right: 6px;
    }
  }

  // This removes the left margin off the draft/modified badge
  .file-status-icon + .editor__status-flag {
    margin-left: 0;
  }

  .field-group-component__small-holder.editor-header-folder {
    width: 100%;
    display: flex;

    .field {
      max-width: calc(100% - 30px);
    }

    .file-status-icon {
      margin-top: 5px;
    }
  }
}

.editor__status-flag {
  color: #f46b00;
  background-color: #fff7f2;
  border-color: #f46b00;
  clear: both;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  line-height: 1rem;
  margin-left: 3px;
}

.editor__specs {
  color: $text-muted;
  font-size: $font-size-xxs;
  display: flex;
  align-items: center;
}

.editor__top-message {
    margin: #{-$panel-padding-x} #{-$panel-padding-x} $spacer;
}

.editor__file-preview {
  text-align: center;
  margin: 0 #{-$panel-padding-x} $spacer-xs;
  position: relative;
  max-height: $cms-panel-md * .75;
  min-height: 60px;
  overflow: hidden;
  display: block;
  align-items: center;
  text-decoration: none;

  &:not(.editor__file-preview--folder):hover .editor__thumbnail {
    transform: scale(1.04);
  }
}

.editor__file-preview--folder {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.editor__file-preview-link {

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    padding: 11px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba($black, 0.6);
    color: $white;
    font-size: 22px;
    opacity: 0;
    content: "=";
    font-family: silverstripe;
    line-height: 27px;
    z-index: 1;
    transition: all .5s;
  }

  &:hover,
  &:hover::before,
  &:active::before {
    text-decoration: none;
    opacity: 1;
  }
}

.editor__thumbnail {
  display: block;
  max-width: 100%;
  max-height: $cms-panel-md * .75;
  min-height: 80px;
  margin: auto;
  transform: scale(1);
  transition: all .5s;
}

.editor__file-preview-message--file-missing {
  margin: #{$spacer * 2} 0 $spacer ;
  font-size: $font-size-lg;
  color: $brand-danger;
  text-align: center;
}

@include media-breakpoint-down(md) {
  .editor__heading,
  .editor__specs {
    text-align: center;
    margin-right: 36px;
    display: flex;
    justify-content: center;
  }
}
