.editor {
  width: 100%;
  height: 100%;
  padding-top: $grid-gutter-width-half;
  padding-bottom: $spacer-y;
  position: absolute;
  right: 0;
  overflow-y: auto;
  background-color: $body-bg;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    width: $cms-panel-sm;
    border-left: 1px solid $border-color;
    height: calc(100% - #{$toolbar-total-height});
    position: fixed;
    top: $toolbar-total-height;
  }

  @include media-breakpoint-up(xl) {
    width: $cms-panel-md;
  }
}

.editor__details {
  margin-bottom: 32px;
}

.editor__heading {
  margin-right: $spacer-x * 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor__url-icon::before {
  color: lighten($gray, 30);
}

.editor__file-preview {
  text-align: center;
  margin: $grid-gutter-width-half #{-$grid-gutter-width-half};
  position: relative;
  max-height: $cms-panel-md * .75;
  min-height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    padding: 11px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    font-size: 24px;
    opacity: .6;
  }

  &:hover::before,
  &:active::before {
    text-decoration: none;
    display: block;
  }
}

.editor__file-thumbnail {
  max-width: 100%;
  margin: 0 auto;
}
