.gallery {
  position: relative;
}

// Required for bulk-actions position
.gallery__outer {
  position: relative;
}

.gallery__main {
  height: calc(100vh - #{$toolbar-total-height}); // Safari fix for scroll, should be better fix
  position: relative;
}

.gallery__no-item-notice {
  text-align: center;
  font-size: $font-size-lg;
  margin-top: $spacer-y;
}

.gallery__back {
  &.ss-ui-button::before {
    font-size: 23px;
  }
}

.gallery__folders,
.gallery__files {
  display: flex;
  flex-flow: row wrap;
}


// leave space at bottom for bulk-actions on smaller screens
@include media-breakpoint-down(md) {
  .gallery__files {
    margin-bottom: $toolbar-total-height;
  }
}

.gallery__load {
  width: 100%;
  display: inline-block;
}

// Note: no longer exists but should be implemented at later time
.gallery__load-more {
  display: block;
  color: $white;
  cursor: pointer;
  margin: 8px auto 24px;
  padding: 4px;
  width: 200px;
  font-size: 16px;
  height: 44px;
  background-color: $brand-primary;
  border: 0;
  border-radius: 4px;
}

.gallery__sort {
  display: inline-block;
  vertical-align: middle;
  padding: $btn-padding-y $btn-padding-x;
  margin-bottom: -4px;

  .gallery & .chosen-single {
    border: 0;
    filter: none; //IE9
    background: none;
    box-shadow: none;
    color: inherit;
    margin-top: -1px;
  }

  .chosen-single {
    &:focus {
      box-shadow: $dropdown-shadow;
    }

    > span {
      text-align: right;
      color: inherit;
    }

    > span::before {
      content: "Sort by ";
    }
  }

  .chosen-drop {
    border-radius: 3px;
    box-shadow: $dropdown-shadow;
    border: 0;
  }

  .active-result {
    text-transform: capitalize;
  }
}

.gallery__error {
  display: table;
  width: 100%;
  height: 100%;
}

.gallery__error-message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gallery__view-change-button .icon:before {
  vertical-align: middle;
}

.gallery__state-buttons {
  margin-right: -$spacer-sm;
}

.gallery__view-change-button {
  margin-right: -$panel-padding-x / 2;
}

// Griddle overrides
// Pagination styles override griddle default styles

.griddle-footer > div {
  display: flex;
}

.griddle-page {
  flex: 1;
  text-align: center;
  margin-top: -3px;

  select { // Replicate .form-control;
    height: calc(#{$line-height-base} + #{$spacer-y});
    padding: $input-padding-y $input-padding-x;
    line-height: $line-height;
    color: $input-color;
    border: $input-btn-border-width solid $input-border-color;
    background-color: $input-bg;
    background-image: none;
    text-align: center;
    display: inline;
    @include form-control-focus();
  }
}

.griddle-footer {
  width: 200px; // approx width to allow for 1000's of images
  margin: 0 auto;
}

$griddle-button-width: 36px;
$griddle-button-height: 30px;

.griddle-previous,
.griddle-next {
  width: $griddle-button-width; // hold space so pagination doesn't move around

  button {
    white-space: nowrap;
    border: 0;
    background: transparent;
    width: $griddle-button-width;
    height: $griddle-button-height;
    position: relative;
    border-radius: $btn-border-radius;
    overflow: hidden;

    &:hover {
      background-color: $gray-lighter;
      border-color: transparent;

      &::before {
        background-color: $gray-lighter;
      }
    }

    &::before {
      font-family: silverstripe;
      color: $body-color-light;
      width: $griddle-button-width;
      height: $griddle-button-height;
      background-color: $background-main;
      position: absolute;
      top: 0;
      left: 0;
      padding: $btn-padding-y;
      transition: all .2s ease-in-out;
      font-size: $font-size-lg;
      -webkit-font-smoothing: antialiased;
      line-height: $line-height-base;
    }
  }
}

.griddle-previous button::before {
  content: "'";
}

.griddle-next button::before {
  content: "&";
}
// Pagination end

.gallery__search-message-clear {
  padding-left: $spacer-x * .5;
}
