.asset-gallery {

  .gallery__no-item-notice {
    width: 100%;
    text-align: center;
  }

  .gallery__back {
    &.ss-ui-button::before {
      font-size: 23px;
    }
  }

  .gallery__sort {
    position: absolute;
    top: 14px;
    right: 16px;

    // Nesting required to override chosen defaults
    .chosen-single {
      border: 0;
      filter: none; //IE9
      background: none;
      box-shadow: none;
      color: inherit;
      margin-top: -1px;
    }
  }

  .chosen-single:focus {
    box-shadow: $dropdown-shadow;
  }

  .chosen-single > span {
    text-align: right;
    color: inherit;

    &::before {
      content: "Sort by ";
    }
  }

  .chosen-drop {
    border-radius: 3px;
    box-shadow: $dropdown-shadow;
    border: 0;
  }

  .active-result {
    text-transform: capitalize;
  }

  .gallery__folders {
    display: inline-block;
    margin-bottom: -6px;
    width: 100%;
  }

  .gallery__files {
    display: inline-block;
    width: 100%;
  }

  .gallery__load {
    width: 100%;
    display: inline-block;
  }

  .gallery__load-more {
    display: block;
    color: $white;
    cursor: pointer;
    margin: 8px auto 24px;
    padding: 4px;
    width: 200px;
    font-size: 16px;
    height: 44px;
    background-color: $brand-primary;
    border: 0;
    border-radius: 4px;
  }
}
