.asset-dropzone {
  position: relative;

  &:before {
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    background-image: url("../../images/drag_drop_opt.svg");
    background-size: 312px 325px;
    width: 312px;
    height: 325px;
    z-index: 101;
  }

  &:after {
    position: absolute;
    inset: 0;
    background-color: rgba($body-bg, .9);
    z-index: 100;
  }

  &.dragging:before,
  &.dragging:after {
    content: "";
  }
}

.asset-dropzone--button {
  position: static;
}
