.asset-dropzone {
  &:after {
    position: absolute;
    inset: 0 #{0 - calc($grid-gutter-width / 2)} 0 #{0 - calc($grid-gutter-width / 2)};
    background: rgba($body-bg, .9) url("../../images/drag_drop_opt.svg") center center no-repeat;
    background-size: 312px 325px;
    z-index: 100;
  }

  &.dragging {
    &:after {
      content: "";
    }
  }
}

.asset-dropzone--button {
  position: static;
}
