.asset-dropzone {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &::after {
    position: absolute;
    top: -70px;
    right: #{0 - $grid-gutter-width / 2};
    bottom: 0;
    left: #{0 - $grid-gutter-width / 2};
    background: $page-mask-light url("#{$framework-path}/admin/client/src/images/drag_drop_opt.svg") center center no-repeat;
    background-size: 312px 325px;
    z-index: 100;
  }

  &.dragging {
    &::after {
      content: "";
    }
  }
}
