$transition-speed: .3s;
$selectedColor: #72c34b;

$breakpoint-xxxsmall: 40.625em;
$breakpoint-xxsmall: 51.25em;
$breakpoint-xsmall: 63.25em;
$breakpoint-small: 75.5em;
$breakpoint-medium: 88em;
$breakpoint-large: 100.5em;
$breakpoint-xlarge: 113em;
$breakpoint-xxlarge: 125.5em;
$breakpoint-xxxlarge: 138em;
