.cms {
    .ss-uploadfield-view-allowed-extensions {
        margin-top: 0;
        top: -42px;
        right: 0;

        h4 {
            padding-right: 0;
        }

        .description {
            margin-top: 28px;
            text-align: right;
        }
    }
}
