.asset-gallery {
    .gallery {

    }

    .font-icon-level-up {
        position: absolute;
        top: 13px;
        left: 212px;
    }

    .gallery__sort {
        position: absolute;
        top: 12px;
        right: 40px;

        .chzn-single {
            border: 0;
            background: none;
            box-shadow: none;
            color: inherit;
            margin-top: -2px;

            > span {
                text-align: right;
                color: inherit;

                &::before {
                    content: 'Sort by '
                }
            }
        }

        .chzn-drop {
            border-radius: 3px;
            box-shadow: 0 0 3px rgba(0,0,0,.2);
            border: 0;
        }

        .chzn-results {
            .active-result {
                text-transform: capitalize;
            }
        }
    }

    .gallery__items {

    }

    .gallery__load {
        width: 100%;
        display: inline-block;
    }

    .gallery__load__more {
        display: block;
        color: white;
        cursor: pointer;
        margin: 8px auto 24px;
        padding: 4px;
        width: 200px;
        font-size: 16px;
        height: 44px;
        background-color: #338DC1;
        border: 0;
        border-radius: 4px
    }
}
