.asset-gallery {
    .gallery {

    }

    .gallery__header {
        margin: -46px 12px 0 0;

        > button {
            float: left;
            margin-left: 8px;
        }
    }

    .gallery__header__sort {
        float: right;

        .chzn-single {
            border: 0;
            background: none;
            box-shadow: none;
            color: inherit;
            margin-top: -2px;

            > span {
                text-align: right;
                color: inherit;

                &::before {
                    content: 'Sort by '
                }
            }
        }

        .chzn-drop {
            border-radius: 3px;
            box-shadow: 0 0 3px rgba(0,0,0,.2);
            border: 0;
        }

        .chzn-results {
            .active-result {
                text-transform: capitalize;
            }
        }
    }

    .gallery__items {
        padding-top: 48px;
    }
}
