.asset-gallery {
    .item {
        position: relative;
        width: 50%;
        height: 174px;
        margin: 0 auto 24px;
        text-align: center;
        min-width: 200px;

        @include breakpoint(xxxsmall) {
            float: left;
            width: 48%;
            margin: 0 1% 20px;
        }

        @include breakpoint(xxsmall) {
            width: 31.333%;
        }

        @include breakpoint(xsmall) {
            width: 23%;
        }

        @include breakpoint(small) {
            width: 18%;
        }

        @include breakpoint(medium) {
            width: 14.666%;
        }

        @include breakpoint(large) {
            width: 12.258%;
        }

        @include breakpoint(xlarge) {
            width: 10.5%;
        }

        @include breakpoint(xxlarge) {
            width: 9.111%;
        }

        @include breakpoint(xxxlarge) {
            width: 8%;
        }

        &:hover,
        &:focus {
            .item__actions {
                background: rgba(34, 56, 91, .7);
            }

            .item__actions__action {
                opacity: 1;

                &:hover {
                    background: rgba(34, 56, 91, .7);
                }
            }
        }

        &.folder {
            cursor: pointer;

            .item__thumbnail {
                background: url(img/folder.png) center center no-repeat;
            }
        }

        &.zip {
            .item__thumbnail {
                background: #fff url(img/icon_zip.png) center center no-repeat;
            }
        }

        &.audio {
            .item__thumbnail {
                background: #fff url(img/icon_audio.png) center center no-repeat;
            }
        }

        &.mov {
            .item__thumbnail {
                background: #fff url(img/icon_video.png) center center no-repeat;
            }
        }

        &.doc {
            .item__thumbnail {
                background: #fff url(img/icon_doc.png) center center no-repeat;
            }
        }

        &.false {
            .item__thumbnail {
                background: #fff url(img/icon_file.png) center center no-repeat;
            }
        }

        &.zip,
        &.audio,
        &.mov,
        &.doc,
        &.false {
            .item__thumbnail {
                border-radius: 3px;
            }
        }
    }

    .item__thumbnail {
        height: 150px;
        width: 200px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;

        &.large {
            background-size: contain;
        }
    }

    .item__actions {
        position: absolute;
        width: 200px;
        height: 40px;
        box-sizing: border-box;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        background: none;
        transition: background $transition-speed;
    }

    .item__actions__action {
        padding: 10px 6px;
        font-size: 20px;
        color: #fff;
        background-color: transparent;
        border: 0;
        opacity: 0;
        cursor: pointer;
        float: right;
        line-height: 20px;
        height: 40px;
        transition-property: opacity, background;
        transition-duration: $transition-speed;
    }

    .item__actions__action--edit {
        padding: 12px 6px 10px;
        font-size: 16px;
    }

    .item__actions__action--remove {

    }

    .item__title {
        color: #0073C1;
        padding: 6px 8px 2px;
        width: 200px;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
