.asset-gallery {
    .item {
        position: relative;
        width: 50%;
        height: 174px;
        margin: 0 auto 24px;
        text-align: center;
        min-width: 200px;

        @include breakpoint(xxxsmall) {
            float: left;
            width: 48%;
            margin: 0 1% 20px;
        }

        @include breakpoint(xxsmall) {
            width: 31.333%;
        }

        @include breakpoint(xsmall) {
            width: 23%;
        }

        @include breakpoint(small) {
            width: 18%;
        }

        @include breakpoint(medium) {
            width: 14.666%;
        }

        @include breakpoint(large) {
            width: 12.258%;
        }

        @include breakpoint(xlarge) {
            width: 10.5%;
        }

        @include breakpoint(xxlarge) {
            width: 9.111%;
        }

        @include breakpoint(xxxlarge) {
            width: 8%;
        }

        &:hover,
        &:focus {
            .item__actions {
                opacity: 1;
                transition: opacity $transition-speed;
            }
        }
    }

    .item__thumbnail {
        height: 150px;
        width: 200px;
        margin: 0 auto;
        background-color: #666;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item__actions {
        position: absolute;
        width: 200px;
        box-sizing: border-box;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        height: 2.5em;
        padding: .3em .5em;
        background: rgba(0,0,0,.5);
        opacity: 0;
    }

    .item__actions__action {
        float: right;
        margin: 0;
        padding: .25em;
        font-size: 1.5em;
        line-height: .5em;
        color: #fff;
        background-color: transparent;
        border: 0;
        opacity: .8;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .item__actions__action--edit {

    }

    .item__actions__action--remove {

    }

    .item__title {
        color: #0073C1;
        padding: 4px 8px;
        width: 200px;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}
