$transition-speed: .3s;

$breakpoint-xxxsmall: 40.625em;
$breakpoint-xxsmall: 55em;
$breakpoint-xsmall: 69em;
$breakpoint-small: 86.25em;
$breakpoint-medium: 100em;
$breakpoint-large: 115em;
$breakpoint-xlarge: 132.125em;
$breakpoint-xxlarge: 150.125em;
$breakpoint-xxxlarge: 170em;

@mixin breakpoint($media) {
    @if $media == xxxsmall {
        @media all and (min-width: $breakpoint-xxxsmall) { @content; }
    }
    @else if $media == xxsmall {
        @media all and (min-width: $breakpoint-xxsmall) { @content; }
    }
    @else if $media == xsmall {
        @media all and (min-width: $breakpoint-xsmall) { @content; }
    }
    @else if $media == small {
        @media all and (min-width: $breakpoint-small) { @content; }
    }
    @else if $media == medium {
        @media all and (min-width: $breakpoint-medium) { @content; }
    }
    @else if $media == large {
        @media all and (min-width: $breakpoint-large) { @content; }
    }
    @else if $media == xlarge {
        @media all and (min-width: $breakpoint-xlarge) { @content; }
    }
    @else if $media == xxlarge {
        @media all and (min-width: $breakpoint-xxlarge) { @content; }
    }
    @else if $media == xxxlarge {
        @media all and (min-width: $breakpoint-xxxlarge) { @content; }
    }
}

// Reset some annoying CMS styles.
.asset-gallery {
    > .left {
        display: none !important;
    }

    > .middleColumn {
        margin-left: 0;
    }
}

@import 'gallery';
@import 'item';
