.editor-component {
    clear: both;
    width: 316px;
    background-color: $body-bg;
    border-left: 1px solid $border-base;
    height: 100%;
    padding: 16px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.file-details {
	margin-bottom: 32px;

	h2 {
		font-weight: normal;
		margin-top: 4px;
	}
}

.file-preview {
	width: calc(100% + 40px);
	text-align: center;
	margin: 0 -20px 24px -20px;
	position: relative;

	.file-type {
		display: none;
		font-size: 11px;
		color: #999;
		position: absolute;
		width: 100%;
		text-align: center;
	}

	.file-enlarge {
		display: none;
		position: absolute;
		margin: 0 auto;
		opacity: .7;
		background-color: rgba(0,0,0,1);
		height: 50px;
		width: 50px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;

		&::before {
			font-size: 26px;
			color: #fff;
			top: 12px;
			position: relative;
		}
	}

	&:hover {

		.file-type {
			display: block !important;
		}
		.file-enlarge {
			display: block;

			&:hover,
			&:active {
				text-decoration: none;
				background-color: rgba(0,0,0,.7);
				opacity: 1;
			}
		}
	}
}

.file-preview-thumbnail {
	max-width: 100%;
}




// Move to its own component

/* BTN */
.cms .btn--close {
	float: right;
	margin: 0;
	padding: 5px;
	right: 6px;
	position: absolute;

	&:hover {
		text-decoration: none;
	}

	&[class*="font-icon-"]::before {
		font-size: 20px;
		color: $body-color-light;
	}
}

/* TABS */
.nav-tabs {
	margin-bottom: 20px;

	.nav-link {
		border: none;
		padding: 12px 4px;
		margin-right: 4px;
		color: $body-color-light;

		&.active {
			border-bottom: 2px solid $color-text;
			color: $body-color;

			&.hover {
				text-decoration: none;
			}
		}
	}
}

/* Helpers */
.header-extra {
	margin-top: -16px;
	color: #7f8b97; /* should use text-muted variable */
}
