.insert-media-modal {

  // Additional width for maximum screen size
  &.modal-lg {
    width: $modal-xl;
    max-width: 1600px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    // IE10 fix
    height: calc(100% - #{$toolbar-total-height});

    @include media-breakpoint-down(md) {
      width: calc(100% - 1rem);
      height: calc(100% - .5rem);
      margin: 0 auto;
    }
  }

  .modal-content {
    height: 100%; // IE10 fix
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-body {
    padding: 0;
    height: 100%;
  }

  // If the editor is in the dialog
  .editor__details {
    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    .btn--close-panel {
      display: none;
    }
  }

  .tab-content {
    margin-bottom: $spacer ;
  }

  // spacing between width and height
  .fieldgroup.fill-width .field.flexbox-area-grow:first-child {
    margin-right: $panel-padding-x;
  }

  .asset-admin--multi-select [name="action_insert"] {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    .asset-admin--single-select [name="action_insert"] {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .asset-admin--multi-select [name="action_insert"] {
      display: block;
    }
  }
}

// If gallery is in dialog
.insert-media-modal__main  {
  height: calc(100vh - #{$toolbar-total-height * 2}); // Fix for Safari
}

.insert-media-modal__close-button {
  float: right;
  height: 32px;
  margin: 10px -10px 10px 0;

  &::before {
    top: 0;
  }
}
