.insert-media-modal {

  // Additional width for maximum screen size
  .modal-lg {
    width: $modal-xl;
    max-width: 1600px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - #{$toolbar-total-height}); // IE10 fix
  }

  .modal-content {
    height: 100%; // IE10 fix
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-body {
    padding: 0;
    height: 100%;
  }

  // If the editor is in the dialog
  .editor__details {
    height: calc(100vh - #{$toolbar-total-height * 2}); // Safari fix for scroll, should be better fix
  }

  @include media-breakpoint-up(lg) {
    .btn--close-panel {
      display: none;
    }
  }

  .tab-content {
    margin-bottom: $spacer ;
  }

  // spacing between width and height
  .fieldgroup.fill-width .field.flexbox-area-grow:first-child {
    margin-right: $panel-padding-x;
  }
}

// If gallery is in dialog
.insert-media-modal__main  {
  height: calc(100vh - #{$toolbar-total-height * 2}); // Fix for Safari
}

// Based on .form-builder-modal__close-button, but floated
.insert-media-modal__close-button {
  float: right;
  height: 32px;
  font-size: 28px;
  opacity: 0.5;
  margin: 10px -10px 10px 0;

  &:hover {
    opacity: 0.7;
  }

  span {
    overflow: hidden;
    display: block;
    margin-top: -6px;
  }
}
