$placement-image-width: 40px;
$placement-image-height: 36px;

.insert-embed-modal {
  .modal-content {
    height: auto;
    max-height: 100%;
  }

  .modal-body {
    min-height: 300px;
    align-items: center;
  }
}

.insert-embed-modal--edit {
  width: 100%;

  .btn-toolbar {
    @include media-breakpoint-up(md) {
      margin-left: 30%;
    }
  }
}

.insert-embed-modal--create {
  width: 100%;
  @include media-breakpoint-up(md) {
    margin-top: 4rem;
  }

  .alert + & {
    margin-top: 0;
  }
}

.insert-embed-modal__url-create {

  .form__field-label {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  .form-control.text {
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    border-radius: $input-border-radius-lg;
  }
}

.insert-embed-modal__fields--fill-width {
  @include media-breakpoint-up(md) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.insert-embed-modal__preview-container {
  padding-bottom: $spacer ;

  @include media-breakpoint-up(md) {
    padding-right: $spacer;
    width: 30%;
  }
}

.insert-embed-modal__preview {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  max-height: $gallery-thumb-height * 1.5;
}

.insert-embed-modal__placement .radio {
  display: inline-block;
  margin: 0;

  label {
    border: 1px solid $border-color-light;
    display: block;
    padding: 0;
    position: relative;
    width: 80px;
    margin-bottom: #{$line-height-base}em;

    &:before {
      background: url("placement.png");
      content: " ";
      display: block;
      width: $placement-image-width;
      height: $placement-image-height;
      margin: 5px auto;
    }
  }

  span {
    display: none;
    position: absolute;
    top: 100%;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 0.9rem;
  }

  input {
    display: none;
  }

  &.checked {

    label {
      border: 1px solid $component-active-border-color;
      background-color: $component-active-bg-light;
    }

    span {
      display: block;
      color: $component-active-border-color;
    }
  }

  &.option-val--leftAlone { // sass-lint:disable-line class-name-format

    label:before {
      background-position-y: -$placement-image-height;
    }

    &.checked label:before {
      background-position-y: 0;
    }
  }

  &.option-val--center {

    label:before {
      background-position-y: 3 * -$placement-image-height;
    }

    &.checked label:before {
      background-position-y: 2 * -$placement-image-height;
    }
  }

  &.option-val--rightAlone { // sass-lint:disable-line class-name-format

    label:before {
      background-position-y: 5 * -$placement-image-height;
    }

    &.checked label:before {
      background-position-y: 4 * -$placement-image-height;
    }
  }

  &.option-val--left {

    label:before {
      background-position-y: 7 * -$placement-image-height;
    }

    &.checked label:before {
      background-position-y: 6 * -$placement-image-height;
    }
  }

  &.option-val--right {

    label:before {
      background-position-y: 9 * -$placement-image-height;
    }

    &.checked label:before {
      background-position-y: 8 * -$placement-image-height;
    }
  }
}
