// Change width depending on the amount of actions inside
$bulk-actions-width: 300px;

.bulk-actions {
  width: 100%;
  padding: $spacer * .625 $grid-gutter-width-half;
  margin: 0 auto;
  position: fixed;
  height: $toolbar-total-height;
  z-index: 2;
  bottom: 0;
  box-shadow: 0 -1px 2px $shadow-light;
  background-color: $body-bg-dark;
  transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(1);
  min-width: 160px;

  @include media-breakpoint-down(md) {
    &-enter {
      bottom: -$toolbar-total-height;
    }

    &-enter-active {
      bottom: 0;
      transition: bottom .2s ease-out;
    }

    &-leave {
      bottom: 0;
    }

    &-leave-active {
      bottom: -$toolbar-total-height;
      transition: bottom .2s ease-in-out .1s;
    }
  }

  @include media-breakpoint-up(md) {
    height: 48px;
    padding: 8px;
    top: 0;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    box-shadow: 0 1px 2px $shadow-light;
    position: absolute;

    &-enter {
      top: -$toolbar-height;
      transform: scale(.99) translateX(-50%);
      box-shadow: 0 0 1px $shadow-light;
    }

    &-enter-active {
      top: 0;
      transform: scale(1) translateX(-50%);
      transition: top .2s linear, transform .1s ease-out .15s, box-shadow .1s ease-out .1s;
    }

    &-leave {
      top: 0;
      transform: scale(1) translateX(-50%);
    }

    &-leave-active {
      top: -$toolbar-height;
      transform: scale(.99) translateX(-50%);
      transition: top .2s linear .1s, transform .1s ease-in, box-shadow .2s ease-in;
      box-shadow: 0 0 1px $shadow-light;
    }
  }

  .bulk-actions-counter {
    display: inline-block;
    vertical-align: middle;
    min-width: 28px;
    padding: 6px;
    margin-right: 8px;
    line-height: $line-height-base;
    color: $white;
    text-align: center;
    background-color: $component-active-bg;
    border-radius: $btn-border-radius;
    font-weight: bold;
  }

  .bulk-actions__action.ss-ui-button {
    line-height: $line-height-base;
    margin-bottom: 0;
    height: 32px;

    &[class*="font-icon-"]::before {
      font-size: 20px;
      line-height: 18px;
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
  }

  .chosen-single {
    border-radius: 5px 0 0 5px;
    border: 0;
    filter: none; //IE9
    background: none;
    box-shadow: none;
    color: inherit;

    &:focus {
      box-shadow: $dropdown-shadow;
    }

    > span {
      text-align: left;
      display: inline-block;
      margin-right: 0;
    }

    > div {
      position: static;
      display: inline-block;
    }
  }

  .chosen-drop {
    border-radius: 3px;
    box-shadow: $dropdown-shadow;
    border: 0;
  }

  .search-choice-close {
    display: none;
  }

  .chosen-results li {
    padding-left: 22px;
    position: relative;

    &::before {
      position: absolute;
      font-family: silverstripe;
      left: 4px;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 4px;
    }

    &:nth-child(1)::before {
      content: "g";
    }
  }
}

.bulk-actions__action--more {
  display: block;
  width: 100%;
  text-align: left;
}

@include media-breakpoint-down(sm) {

  // Flip the popover so that arrow points downward
  .popover.bulk-actions__more-actions-menu {
    top: auto!important;
    bottom: 42px!important;
    margin-top: 0;
    margin-bottom: 10px;

    & > .arrow {
      top: auto;
      bottom: 0;

      &:before,
      &::after {
        margin-left: -6px;
        border-top-width: 11px;
        border-bottom-width: 0;
      }

      &:before {
        top: auto;
        bottom: -11px;
        border-top-color: rgba(0,0,0,0.15);
      }

      &:after {
        top: auto;
        bottom: -10px;
        border-top-color: $white;
      }
    }
  }
}
