.gallery__bulk-actions {
  padding: 10px 12px;
  left: 160px; // TODO: Needs to go to 60px when main nav is collapsed
  z-index: 59;
  right: 0;
  height: 52px;
  margin: 0 auto;
  position: fixed;
  top: 52px;
  width: 200px;
  box-shadow: 0 1px 2px $shadow-light;
  background-color: $background-darker;
  transition: all 0.5s ease-in-out;
  transform: scale(1);

  &-enter {
    top: 0;
    transform: scale(.95);
  }

  &-enter-active {
    top: 52px;
    transform: scale(1);
    transition: top .2s linear, transform .1s ease-in .2s;
  }

  &-leave {
    top: 52px;
    transform: scale(1);
  }

  &-leave-active {
    top: 0;
    transform: scale(.95);
    transition: top .2s linear .1s, transform .1s ease-in;
  }

  .gallery__bulk-actions-counter {
    display: inline-block;
    min-width: 28px;
    padding: 6px;
    margin: 2px 8px 2px 0;
    line-height: 16px;
    color: $white;
    text-align: center;
    background-color: $component-active-bg;
    border-radius: 4px;
    font-weight: bold;
  }

  .gallery__bulk-actions_action.ss-ui-button {
    line-height: $line-height-base;
    margin-bottom: 0;
    height: 32px;

    &[class*="font-icon-"]::before {
      font-size: 20px;
      line-height: 18px;
      position: relative;
      top: -1px;
    }
  }

  .chosen-single {
    border-radius: 5px 0 0 5px;
    border: 0;
    filter: none; //IE9
    background: none;
    box-shadow: none;
    color: inherit;

    &:focus {
      box-shadow: $dropdown-shadow;
    }

    > span {
      text-align: left;
      display: inline-block;
      margin-right: 0;
    }

    > div {
      position: static;
      display: inline-block;
    }
  }

  .chosen-drop {
    border-radius: 3px;
    box-shadow: $dropdown-shadow;
    border: 0;
  }

  .search-choice-close {
    display: none;
  }

  .chosen-results li {
    padding-left: 22px;
    position: relative;

    &::before {
      position: absolute;
      font-family: silverstripe;
      left: 4px;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 4px;
    }

    &:nth-child(1)::before {
      content: "g";
    }
  }
}
