// Change width depending on the amount of actions inside
$bulk-actions-width: 300px;

.bulk-actions {
  width: 100%;
  padding-top: $spacer-y * .625;
  padding-bottom: $spacer-y * .625;
  padding-left: $grid-gutter-width-half;
  padding-right: $grid-gutter-width-half;
  margin: 0 auto;
  position: fixed;
  height: $toolbar-total-height;
  z-index: 1;
  bottom: 0;
  box-shadow: 0 -1px 2px $shadow-light;
  background-color: $background-darker;
  transition: top 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transform: scale(1);

  @include media-breakpoint-down(md) {
    &-enter {
      bottom: -$toolbar-total-height;
    }

    &-enter-active {
      bottom: 0;
      transition: bottom .2s linear, transform .1s ease-in .2s;
    }

    &-leave {
      bottom: 0;
    }

    &-leave-active {
      bottom: -$toolbar-total-height;
      transition: bottom .2s linear .1s, transform .1s ease-in;
    }
  }

  @include media-breakpoint-up(md) {
    height: 48px;
    padding: 8px;
    top: 0;
    left: 50%;
    width: $bulk-actions-width;
    margin-left: -$bulk-actions-width / 2;
    box-shadow: 0 1px 2px $shadow-light;
    position: absolute;

    &-enter {
      top: -$toolbar-height;
      transform: scale(.95);
    }

    &-enter-active {
      top: 0;
      transform: scale(1);
      transition: top .2s linear, transform .1s ease-in .2s;
    }

    &-leave {
      top: 0;
      transform: scale(1);
    }

    &-leave-active {
      top: -$toolbar-height;
      transform: scale(.95);
      transition: top .2s linear .1s, transform .1s ease-in;
    }
  }

  .bulk-actions-counter {
    display: inline-block;
    vertical-align: middle;
    min-width: 28px;
    padding: 6px;
    margin-right: 8px;
    line-height: $line-height-base;
    color: $white;
    text-align: center;
    background-color: $component-active-bg;
    border-radius: $btn-border-radius;
    font-weight: bold;
  }

  .bulk-actions_action.ss-ui-button {
    line-height: $line-height-base;
    margin-bottom: 0;
    height: 32px;

    &[class*="font-icon-"]::before {
      font-size: 20px;
      line-height: 18px;
      position: relative;
      top: -1px;
    }
  }

  .chosen-single {
    border-radius: 5px 0 0 5px;
    border: 0;
    filter: none; //IE9
    background: none;
    box-shadow: none;
    color: inherit;

    &:focus {
      box-shadow: $dropdown-shadow;
    }

    > span {
      text-align: left;
      display: inline-block;
      margin-right: 0;
    }

    > div {
      position: static;
      display: inline-block;
    }
  }

  .chosen-drop {
    border-radius: 3px;
    box-shadow: $dropdown-shadow;
    border: 0;
  }

  .search-choice-close {
    display: none;
  }

  .chosen-results li {
    padding-left: 22px;
    position: relative;

    &::before {
      position: absolute;
      font-family: silverstripe;
      left: 4px;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 4px;
    }

    &:nth-child(1)::before {
      content: "g";
    }
  }
}
