.asset-gallery {
    .item {
        position: relative;
        width: 50%;
        height: 156px;
        margin: 0 auto 24px;
        text-align: center;
        min-width: 200px;

        @include breakpoint(xxxsmall) {
            float: left;
            width: 50%;
            margin: 0 0 20px;
        }

        @include breakpoint(xxsmall) {
            width: 33.333%;
        }

        @include breakpoint(xsmall) {
            width: 25%;
        }

        @include breakpoint(small) {
            width: 20%;
        }

        @include breakpoint(medium) {
            width: 16.666%;
        }

        @include breakpoint(large) {
            width: 14.257%;
        }

        @include breakpoint(xlarge) {
            width: 12.5%;
        }

        @include breakpoint(xxlarge) {
            width: 11.111%;
        }

        @include breakpoint(xxxlarge) {
            width: 10%;
        }

        & .item__thumbnail:hover,
        &:hover,
        &.focussed {
            .item__actions {
                background: rgba(34, 56, 91, .7);
            }

            .item__actions__action {
                opacity: 1;

                &:hover,
                &:focus {
                    background: rgba(34, 56, 91, .7);
                }
            }

            .item__actions__action--select {
                background: none;
            }
        }

        &.folder {
            cursor: pointer;

            .item__thumbnail {
                background: url(img/folder.png) center center no-repeat;
                background-size: contain;
            }
        }

        &.archive {
            .item__thumbnail {
                background: #fff url(img/icon_zip.png) center center no-repeat;
            }
        }

        &.audio {
            .item__thumbnail {
                background: #fff url(img/icon_audio.png) center center no-repeat;
            }
        }

        &.video {
            .item__thumbnail {
                background: #fff url(img/icon_video.png) center center no-repeat;
            }
        }

        &.document {
            .item__thumbnail {
                background: #fff url(img/icon_doc.png) center center no-repeat;
            }
        }

        &.false {
            .item__thumbnail {
                background: #fff url(img/icon_file.png) center center no-repeat;
            }
        }

        &.zip,
        &.audio,
        &.mov,
        &.doc,
        &.false {
            .item__thumbnail {
                border-radius: 3px;
            }
        }
    }

    .selected {
        .item__actions__action--select {
            color: $selectedColor;
            opacity: 1;
            background: rgba(34, 56, 91, .7);

            &::before {
                border-color: $selectedColor;
            }
        }

        .item__thumbnail {
            box-shadow: 0 0 0 3px $selectedColor;
        }
    }

    .item__thumbnail {
        height: 132px;
        width: 176px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;

        &.large {
            background-size: cover;
        }
    }

    .item__actions {
        position: absolute;
        width: 176px;
        height: 40px;
        box-sizing: border-box;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        background: none;
        transition: background $transition-speed;
    }

    .item__actions__action {
        padding: 10px 6px;
        font-size: 20px;
        color: #fff;
        background-color: transparent;
        border: 0;
        opacity: 0;
        cursor: pointer;
        float: right;
        line-height: 20px;
        height: 40px;
        transition-property: opacity, background;
        transition-duration: $transition-speed;
    }

    .item__actions__action--edit {
        padding: 12px 6px 10px;
        font-size: 16px;
    }

    .item__actions__action--remove {

    }

    .item__actions__action--select {
        float: left;
        padding: 8px 10px 10px;
        color: transparent;

        &::before {
            border: 1px solid white;
            border-radius: 50%;
            font-size: 12px;
            padding: 3px;
        }
    }

    .item__title {
        color: #0073C1;
        padding: 6px 8px 2px;
        width: 200px;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



@keyframes animate {
    0% {margin: -10px}
    100% {margin: 100px}
}

.element {
        animation: animate 1s infinite;
}
