// Variables for assetAdmin only
// All generic variables for reuse across the CMS should be added to Framework variables

$toolbar-button-height: 25px;
$toolbar-button-width: $toolbar-button-height;
$toolbar-button-padding: 11px;
